<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>850573478366-im5fu3nodbn5u505ng2p36f0h7bfgv5j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.850573478366-im5fu3nodbn5u505ng2p36f0h7bfgv5j</string>
	<key>API_KEY</key>
	<string>AIzaSyB6zYEQsADqIGVwD6VbCvXM-Q2eNWQOdUA</string>
	<key>GCM_SENDER_ID</key>
	<string>850573478366</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chattApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-ad0fa</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-ad0fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:850573478366:ios:c28950f47571a4a41df54f</string>
</dict>
</plist>